.Account {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -10px;
  text-decoration: none;

  .logout {
    color: #3e8eff;
    background-color: #202020;
    text-decoration: none;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: 10px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #303030;
    min-width: 160px;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;

    .account-form {
      input {
        margin: 4px;
        padding: 2px 8px;
        background-color: #404040;
        border: none;
        color: white;
      }

      .submit {
        float:left;
        padding: 5px 10px ;
      }

      .message {
        font-size:14px;
        float: left;
        margin-left: 5px;
        margin-top: 7px;
      }
    }
  }

  .dropdown:hover {
    .dropdown-content {display: block;}
  }

  .dropdown-button {
    font-size: 12px;
    display: inline-block;
    color: white;
    padding: 5px;
    background-color: #202020;
    border: none;
  }

  .dropdown-button:hover {
    background-color: #252525;
  }
}