.Header {
    height: 100px;

    .Title {
        position: absolute;
        left: 0;
        top: 21px;
        font-size: 25px;
        color: #3e8eff;
    }

    .Nav {
        position: absolute;
        right: 0;
        top: 40px;

        margin-left: 300px;
        margin-top: 10px;

        ul {
            list-style-type: none;

            .NavLink {
                display: inline-block;
                text-decoration: none;
                color: white;
                padding: 10px;
                background-color: #303030;
            }

            .NavLink:hover {
                background-color: #404040;
            }
        }
    }
}